header {
  background-image: url(../../../images/header-bg-img.png);
  background-repeat: no-repeat;
  width: 100%;
  background-position: right;
  background-color: #f4f5f6;
  margin-bottom: 12rem;
}


.site__nav {
  display: flex;
  margin-top: 2rem;
  margin-bottom: 7rem;
  width: 123rem;
}
.site__nav-img {
  margin-right: 6rem;
}
.site__nav-list {
  display: flex;
  gap: 4rem;
}

.site__nav-link {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2.56rem;
  text-align: left;
  color: #424551;
  width: 7.1rem;

  &:hover {
    color: #ff5a30;
  }

  &:active {
    opacity: 0.5;
  }
}

.contact__images {
  display: flex;
  gap: 3.6rem;
  margin-left: 17.2rem;
}

.talk__to__us {
  display: flex;
  flex-direction: column;
  /* width: 12.3rem; */
}

.call__us {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.call__us-text {
  display: flex;
  flex-direction: column;
  width: 15.8rem;
}

.contact-span {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 2.1rem;
  text-align: left;
  color: #424551;
}

.call__us-link {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.7rem;
  text-align: left;
  color: #1e212c;

  &:hover {
    color: #ff5a30;
  }

  &:active {
    opacity: 0.5;
  }
}

.header__container-text {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.1rem;
  text-align: left;
  color: #424551;
  margin-bottom: 4rem;
}
.header__container-text-services {
  color: #9a9ca5;
  font-family: "Ubuntu", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.1rem;
  text-align: left;
  margin-bottom: 4rem;
}
.header__container__content {
  width: 60rem;
}
.header__container__content-title {
  font-family: "Ubuntu", sans-serif;
  font-size: 7.2rem;
  font-weight: 700;
  line-height: 9.36rem;
  letter-spacing: 0.1rem;
  text-align: left;
  color: #1e212c;
  margin-bottom: 4rem;
}
.header__container__content-description {
  font-family: "Ubuntu", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  line-height: 3rem;
  text-align: left;
  color: #787a80;
  margin-bottom: 17.9rem;
}

main {
  margin-bottom: 10rem;
}

.main__container {
  background-image: url(./services-images/main__bg-img.svg);

}

.card__construction {
  display: flex;
  align-items: center;
  /* gap: 8rem; */
  justify-content: space-between;
  margin-bottom: 12rem;
}

.card__constraction-img {
  border-radius: 0.4rem;
}

.card__construction__content {
  width: 57.5rem;
}
.card__construction__content-title {
  font-family: "Ubuntu", sans-serif;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 4.8rem;
  text-align: left;
  color: #1e212c;
  margin-bottom: 2.4rem;
}
.card__construction__content-description {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.56rem;
  text-align: left;
  color: #787a80;
  margin-bottom: 4.8rem;
  width: 57.5rem;
}
.card__construction__content-link {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 4.4rem;
  letter-spacing: 0.05rem;
  text-align: center;
  color: #ff5a30;
}
.btn {
  padding-left: 3.2rem;
  padding-right: 3.2rem;
  border: 0.1rem solid #ff5a30;
  border-radius: 0.4rem;

  &:hover {
    background-color: #ff5a30;
    color: #fff;
  }

  &:active {
    opacity: 0.5;
  }
}
